<connectionStrings configSource="connectionStrings.config">
  <add name="BackupManager" connectionString="Data Source=(local);Initial Catalog=DatabaseName;User ID=sa;Password=sa_password;Integrated Security=False;Connection Timeout=1800;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="AzureBackupBlobStorage" connectionString="DefaultEndpointsProtocol=[http|https];AccountName=myAccountName;AccountKey=xyzxyzxyzxyz==;" />
</connectionStrings>